<p style="color: green"><%= notice %></p>

<h1>Portal Products</h1>

<div id="products">
  <table>
    <thead>
      <tr>
        <th>
          <strong>Name</strong>
        </th>

        <th>
          <strong>Stock qty</strong>
        </th>
        <th>
          <strong>Price</strong>
        </th>
      </tr>
    </thead>
    <tbody>
      <% @products.each do |product| %>
        <%= render product %>
      <% end %>
    </tbody>
  </table>
</div>
